* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

main {
  background-color: #c0d4e5;
  height: 100vh;
  padding: 24px;
}

.title {
  width: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.project-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-list__item--link {
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;
  width: 20vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  outline: 1px solid black;
}

.project-list__item--cover {
  width: 100%;
  border-radius: 1rem;
}

.project-list__item--title {
  color: black;
  font-weight: bold;
  text-align: center;
}
